#3dgreengame {
    font: 500 46px/38px Bungee, sans-serif;
    letter-spacing: 2px;
    color: #0dbd23;
    text-shadow: -1px -1px 0 #82d22a, 1px -1px 0 #22c71c, -1px 1px 0 #1db922, 1px 1px 0 #2fc30c, 0 0 9px #106b1c;
}
