hr{
 border:0;height:1px;margin:1.2em 0 1.3em 0;
 background-image: -webkit-gradient(linear,0 0,100% 0,from(#2853a3),color-stop(0.5,#78afff),to(#3e67a3));
 background-image: gradient(linear,0 0,100% 0,from(#2853a3),color-stop(0.5,#78afff),to(#2853a3));
}
